<!--<nav>-->
<!--  <a routerLink="/blog">Blog</a>-->
<!--</nav>-->
<!--<app-blog></app-blog>-->
<!--<router-outlet></router-outlet>-->


<meta charset="UTF-8">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/footer.css">
<link rel="stylesheet" href="/assets/navbar.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<!--  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
<!--  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

<!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->
<!--<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">-->

<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

